<%- include('../includes/head.ejs') %> <%- include('../includes/navigation.ejs')
%>

<main class="container">
  <div class="auth-form">
    <h2>Welcome Back</h2>
    <% if (errorMessage) { %>
      <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <form action="/login" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <div class="form-control">
        <label for="email">Email Address</label>
        <input type="email" name="email" id="email" value="<%= oldInput.email %>" required />
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" value="<%= oldInput.password %>" required />
      </div>
      <button class="btn" type="submit">Login</button>
    </form>
    <p class="auth-footer">
      New user? <a href="/signup" class="auth-link">Create an account</a>
    </p>
  </div>
</main>

<%- include('../includes/end.ejs') %>
